body {
    padding: 20px;
    background-color: #E8E2D9;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.split {
    justify-content: space-between;
    background-color: #610000;
    color: white;
}

.row-start {
    display: flex;
    gap: 20px;
}